* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --font-xl: 30px;
  --font-l: 22px;
  --font-m: 14px;
}

@mixin xxl{
  @media(max-width:1400px){
    @content;
  }
}
@mixin xl{
  @media(max-width:1200px){
    @content;
  }
}
@mixin l{
  @media(max-width:992px){
    @content;
  }
}
@mixin m{
  @media(max-width:767px){
    @content;
  }
}
@mixin s{
  @media(max-width:480px){
    @content;
  }
}
@mixin xs{
  @media(max-width:320px){
    @content;
  }
}

html {
  font-size: 14px;
}
@media screen and (max-width:1450px) {
  html { font-size: 12px; }
}
@media screen and (max-width:1100px) {
  html { font-size: 10px; }
}
@media screen and (max-width:750px) {
  html { font-size: 8px; }
}

a {
  text-decoration: none;
}

.ECPay_form_container{
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
}

// ==================================================
$primary_color: #202d40;

// ==================================================
.mx-datepicker{
  width: 100%;

  .mx-input-wrapper{

    i{
      top: 45%;
      color: $primary_color;
    }
  }
}
.mx-datepicker-main{
  button{
    &:hover{
      color: $primary_color;
    }
  }

  .cell{
    &.today{
      color: $primary_color
    }

    &.active{
      background-color: $primary_color;
    }

    &:hover{
      background-color: rgb(184, 224, 209);
    }
  }
}

// ==================================================
.carts_container, .favorite_container {
  width: 300px;
  padding: 15px;

  position: fixed;
  top: 100px;
  right: 0;
  transform: translateX(100%);

  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
  transition: .5s;
  z-index: 150;

  &.hover {
    transform: translateX(0%);
  }
  
  .carts_items, .favorite_items {
    max-height: 300px;
    overflow-y: auto;

    li {
      padding: 5px; 
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
      cursor: pointer;
      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      .img_and_name {
        display: flex;
        .img {
          flex-grow: 0;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          background-size: cover;
          background-position: center;
        }
        .name {
          flex-grow: 1;

          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      .price_and_delete {
        display: flex;
        height: 30px;
        padding-left: 60px;

        .price {
          flex-grow: 1;
          height: 100%;
          display: flex;
          align-items: center;
        }

        .delete {
          flex-grow: 0;
          width: 50px;
          height: 100%;
          color: rgba(256, 0, 0, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .3s;
          cursor: pointer;

          &:hover {
            color: rgba(256, 0, 0, 1);
          }
        }
      }
    }
  }

  .pushTo_cart{
    height: 40px;
    margin-top: 10px;
    border-radius: 3px;
    background: #fff;
    color: $primary_color;
    border: 1px solid $primary_color;
    font-size: var(--font-m);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: 0.4s;
    cursor: pointer;
  
    &:hover{
      background:$primary_color;
      color: #fff;
    }

    i {
      margin-right: 5px;
    }
  }
}

// header ==================================================
header {
  padding: 1.041667vw 1.197917vw;
  margin-top: 2.135417vw;
  display: flex;
  align-items: flex-start;

  .logo a{
    display: inline-block;
    width: 20.885417vw;
    min-width: 200px;
  }
  .logo a img{
    width: 100%;
  }
  
  .menu{
    margin-left: auto;      
  }
  .menu ul{
    display: flex;      
  }
  .menu ul .none650{
    color: #707070; 
  }
  .menu li {
    margin-right: 2.208333vw;
    line-height: 1.5;
    font-size: var(--font-m);
    font-weight: 900;
    color: #000000;
    display: flex;
    align-items: center;
    cursor: pointer;
  
    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 5px;
      font-size: 18px;
    }
  }
  @media screen and (max-width: 500px){
    .menu ul .none650{
      display: none; 
    }
  }
}

// footer ==================================================
footer {
  font-size: var(--font-m);
  color: #d3d3d3;

  .footerContainer {
    margin: 0 auto;
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
  }
  @media screen and (min-width: 978px){
    .footerContainer { width: 929px; }
  }
  @media screen and (max-width:977px){
    .footerContainer { width: 90%;}
  }
  
  .footerContact {
    background-color: #202d40;
    border-bottom: 1px solid #707070;
    padding: 4.166666vw 0; 
  }
  .footerContact .w33:first-child{
    margin-right: auto;
  }
  .footerContact .w33 p{
    margin-bottom: 1.666667vw;
  }
  .footerContact .w33 a img{
    width: 60px;
  }
  .footerContact .w33 .faicon{
    width: 2.864583vw;
    height: 2.864583vw;
    min-width: 30px;
    min-height: 30px;
    margin-right: 6px;
    border-radius: 20%;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .footerContact .w33 .faicon i{
    color: #283a52;
    font-size: 2.5rem;
  }
  
  .copyright {
    height: 4.114583vw;
    min-height: 50px;
    background-color: #151d2a;
    display: flex;
    align-items: center;
  }
}

// ==================================================
.payModal_container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  .payModal{
    width: 300px;
    padding: 20px;
    margin: 200px auto 0 auto;
    border-radius: 5px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;

    .close{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .message{
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 16px;

      input{
        width: 100%;
        margin: 10px 0px;
        border: 1px solid #4db38e;
      }
    }
    .button_row{
      display: flex;
      justify-content: center;
    }

    .bank_account{
      margin-top: 10px;
      display: flex;
      align-items: center;

      .bank_title {
        margin-right: 5px;
        white-space: nowrap;
      }

      input{
        width: 150px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 16px;
      }

      .copy{
        font-size: 20px;
        color: #4db38e;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    .input_container{

      .message{
        flex-direction: row;
        display: none;
      }
      &.error{
        .message{
          display: flex;
        }
      }
    }
  }
}