@import '_all.scss';
@import '_quill.scss';

// ============================================================

.category{
  @include others;

  // ============================================================
  .main{
    .img_container{
      width: 100%;
      padding-bottom: 37.583333%;
  
      background-size: cover;
      background-position: center;
  
      cursor: pointer;
    }
    
    .content{
      width: 1170px;
      padding: 0px 15px;
      margin: 1% auto 2% auto;
  
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
  
      .rich_container{
        width: 50%;
        padding: 15px;
      }
  
      .video_container{
        width: 50%;
        padding-bottom: 25%;
        position: relative;
        iframe{
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    @include xl{
      .content{
        width: 970px;
      }
    }
    @include l{
      .content{
        width: 750px;
        .rich_container{
          width: 100%;
        }
    
        .video_container{
          width: 100%;
          padding-bottom: 50%;
        }
      }
    }
    @include m{
      .content{
        width: 100%;
      }
    }
  
    .products{
      width: 1170px;
      padding: 0px 15px;
  
      margin: 0 auto;
      margin-bottom: 2%;
      .title{
        padding: 10px 0 25px;
        margin-bottom: 28px;
  
        font-size: 22px;
        letter-spacing: 3px;
        text-align: center;
        color: #666;
  
        position: relative;
      }
      .title:before{
        content: '';
        width: 25px;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: -3px;
        margin-left: -12.5px;
  
        background-color: $primary_color;
      }
      .product_list{
        padding: 30px;
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          li{
            padding: 0px 15px;
            margin-bottom: 15px;
            width: 25%;
            cursor: pointer;
  
            .pic{
              width: 100%;
              padding-bottom: 100%;
  
              background-size: cover;
              background-position: center;
              
              position: relative;
  
              .addTo_cart_btn{
                width: auto;
                height: 40px;
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 10px;
  
                background: #fff;
                color: #333;
                border-radius: 3px;
                font-size: 14px;
  
                display: none;
                justify-content: center;
                align-items: center;
  
                transition: 0.4s;
              }
              .addTo_cart_btn:hover{
                background:$primary_color;
                color: #fff;
              }
              
            }
            .pic:before{
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(0,0,0,0.5);
              display: none;
            }
            .info{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .name{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 4px;
                
                color: #333;
                font-size: 14px;
                line-height: 1.4;
                
                text-align: center;
  
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .discount_price{
                color:$primary_color;
                font-size: 16px;
                font-weight: bold;
  
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .origin_price{
                margin-bottom: 5px;
  
                text-decoration: line-through;
                color: #888;
                font-size: 14px;
  
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .l_addTo_cart_btn{
              margin-top: 25px;
              height: 32px;
  
              background-color: #f7f7f7;
              color:$primary_color;
              border-radius: 3px;
  
              display: none;
              justify-content: center;
              align-items: center;
            }
          }
          li:hover{
            .pic{
              .addTo_cart_btn{
                display: flex;
              }
            }
            .pic:before{
              display: block;
            }
          }
        }
      }
    }
    @include xl{
      .products{
        width: 970px;
      }
    }
    @include l{
      .products{
        width: 750px;
        .product_list{
          ul{
            justify-content: space-between;
            li{
              width: 47.905%;
              .l_addTo_cart_btn{
                display: flex;
              }
            }
            li:hover{
              .pic{
                .addTo_cart_btn{
                  display: none;
                }
              }
              .pic:before{
                display: none;
              }
            }
          }
        }
      }
    }
    @include m{
      .products{
        width: 100%;
        padding: 15px;
        margin-bottom: 0%;
        .product_list{
          padding: 0px;
          ul{
            li{
              padding: 8px;
              width: 47.905%;
            }
          }
        }
      }
    }
  }
}