@import '_all.scss';

.mx-datepicker{
  width: 100%;

  .mx-input-wrapper{

    i{
      top: 45%;
      color: #4db38e;
    }
  }
}
.mx-datepicker-main{
  button{
    &:hover{
      color: #4db38e;
    }
  }

  .cell{
    &.today{
      color: #4db38e
    }

    &.active{
      background-color: #4db38e;
    }

    &:hover{
      background-color: rgb(184, 224, 209);
    }
  }
}

.user{
  @include others;

  // ============================================================
  .main{
    width: 600px;
    margin: 70px auto 0;
    border: 1px solid #ddd;

    .navs{
      display: flex;

      .nav{
        flex: 1 1;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        background-color: #eee; 
        color: #888;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        cursor: pointer;

        &:last-child{
          border-right: none;
        }
      }
    }
    .forms{
      .form{
        padding: 20px;
        display: none;

        .input_container{
          margin-bottom: 10px;
          position: relative;

          input{
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0px 30px 0 10px;
            margin-bottom: 5px;
            font-size: 16px;
            border-radius: 3px;
            border: 1px solid #ddd;
            transition: box-shadow .3s;
            outline: none;
            color: #333;

        
            &[type=number]::-webkit-outer-spin-button,
            &[type=number]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            &[type=number] {
              -moz-appearance: textfield;
            }

            &:focus{
              box-shadow: 0 0 3px 1px #4db38e;
            }
          }
          .eyes_icon{
            width: 30px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            color: #4db38e; 
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .message{
            padding: 0px 10px;
            font-size: 14px;

            &.error{
              color: #dc3545;
              align-items: center;
              display: none;

              .error_icon{
                margin-right: 5px;
              }
            }
          }

          &.error{
            input{
              border: 1px solid #dc3545;
            }
            .message{
              &.error{       
                display: flex;
              }
            }
          }

          &.verify{
            display: flex;
            flex-wrap: wrap;

            input{
              width: 45%;
              border-radius: 3px 0 0 3px;
            }
            .button{
              width: 55%;
              border-radius: 0 3px 3px 0;
            }
          }
        }

        .radio_container{
          display: flex;
          margin-bottom: 15px;

          .radio{
            width: 20px;
            height: 20px;
            margin-right: 5px;
            border-radius: 50%;
            border: 1px solid #ddd;
            position: relative;

            input{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              z-index: 1;
              cursor: pointer;
            }

            .circle{
              width: 13px;
              height: 13px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              background-color: #4db38e;
            }
          }

          label{
            margin-right: 15px;
            cursor: pointer;
          }
        }

        .agree_container{
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          font-size: 16px;

          .checkbox{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            border-radius: 3px;
            border: 1px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            input[type="checkbox"]{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              z-index: 1;
              cursor: pointer;
            }
            i{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 1.5px;
              color: #4db38e;
            }
          }
          label{
            cursor: pointer;
          }
          .modal_text{
            margin-left: 5px;
            color: #4db38e;
            text-decoration: underline;
            opacity: 0.8;
            transition: .2s;
            cursor: pointer;

            &:hover{
              opacity: 1;
            }
          }
        }

        .button{
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 16px;
          border-radius: 3px;
          background-color: #4db38e;
          color: #fff;
          opacity: 0.8;
          transition: .2s;
          cursor: pointer;

          &:hover{
            opacity: 1;
          }

          &.disabled{
            opacity: 0.3;
          }
        }
      }
    }

    &.register{
      .register_nav{
        background-color: #fff; 
        color: #555;
        border-bottom: none;
      }
      .register_form{
        display: block;
      }
    }
    &.login{
      .login_nav{
        background-color: #fff; 
        color: #555;
        border-bottom: none;
      }
      .login_form{
        display: block;
      }
    }
    &.forget{
      .forget_nav{
        background-color: #fff; 
        color: #555;
        border-bottom: none;
      }
      .forget_form{
        display: block;

        .input_container {
          &.verify{
            input{
              width: 100%;
            }
          }
        }
        
        .button {
          margin-bottom: 5px;
        }
      }
    }

    @include m{
      width: 98%;
    }
  }

  .user_modal_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2147483645;

    .close{
      width: 50px;
      height: 50px;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
      color: #fff;
      opacity: 0.8;
      transition: .2s;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover{
        opacity: 1;
        transform: scale(1.1);
      }
    }
    .user_modal{
      width: 90%;
      max-height: 80%;
      padding: 3%;
      border-radius: 5px;
      background: #fff;
      overflow-y: auto;
    }
  }

  .user_message_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    .user_message{
      width: 300px;
      padding: 20px;
      margin: 200px auto 0 auto;
      border-radius: 5px;
      background: #fff;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      .close{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .message{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}